@use "../Foundation/mixin" as m;
@use "../Foundation/color" as c;
@use "../Foundation/font" as f;

.l-header {
  display: flex;
  width: 100%;
  height: 217px;
  padding: 40px 0;
  align-items: center;
  background-color: #FFF7EF;
  position: relative;
  grid-column: 1/2;

  @include m.mq(pc) {
    text-align: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @include m.mq(pc) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-weight: bold;
    font-family: f.$font-Roboto;
    color: c.$c-base;
    margin-bottom: 38px;
    @include f.fsz(40, 53);

    @include m.mq(pc) {
      font-size: 3.3vw;
      margin-bottom: 0;
      margin-left: 65px;
    }

    a {
      text-decoration: none;
      color: c.$c-base;
    }
  }

  &__menu {
    position: absolute;
    top: 14px;
    right: 16px;
    border: none;
    outline: none;
    background: transparent;
    color: c.$c-base;
    cursor: pointer;
    font-weight: bold;
    font-family: f.$font-Roboto;
    @include f.fsz(20, 26);

    @include m.mq(tab) {
      @include f.fsz(34, 45);
      top: 18px;
      right: 26px;
    }

    @include m.mq(pc) {
      display: none;
    }

    &.active {
      display: none;
    }
  }
}
